body{
    margin: 0;
}

header{
    background-color: #FFCCCC;
    height: 50px;
}

header h1{
    margin-top: 0;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-family: Geogia, #603;
}

section, footer{
    margin: 0 15px 0 15px;
}

section p{
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    text-align: justify;
}

p img{
    height: 177px;
    width: 170px;
    float: left;
}

section h3{
    border-bottom: 2px solid #880000 ;
}

section#historia{
    background-color: #FAEAEA;
}

section#projeto{
    background-color: #FAEAEA;
}
